<ion-header [translucent]="true" >
  <ion-toolbar color="primary">
      <ion-title>
        Advicer
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 

  <div id="container">
    <h1>Ready to Advice you 😀</h1>
    <ion-card>
      <ion-text color="dark">
        {{advice.advice}}
      </ion-text>
    </ion-card>
    <div id="adviceButtonContainer">
      <ion-button color="success" id="adviceButton" (click)="adviceBtnClicked()">
        Press me for advice
      </ion-button>
    </div>
  </div>
  
</ion-content>
